.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  
  }
  
  header { grid-area: 1 / 1 / 2 / 6; 
    background-color: blue;}
  .div2 { grid-area: 2 / 2 / 6 / 6;
    background-color: rgb(46, 145, 114); }
  .div3 { grid-area: 6 / 2 / 7 / 4;
    background-color: rgb(255, 0, 0); }
  .div4 { grid-area: 6 / 4 / 7 / 6;
    background-color: yellow; }
  .div5 { grid-area: 7 / 1 / 8 / 6; 
    background-color: rgb(14, 94, 101);}
  aside { grid-area: 2 / 1 / 7 / 2;
    background-color: rgb(219, 91, 91); }
  .div7 { grid-area: 3 / 3 / 4 / 4;
     }
  .div8 { grid-area: 3 / 4 / 4 / 5; }
  .div9 { grid-area: 3 / 5 / 4 / 6; }
  .div10 { grid-area: 4 / 3 / 5 / 4; }
  .div11 { grid-area: 4 / 4 / 5 / 5; }
  .div12 { grid-area: 4 / 5 / 5 / 6; }